::ng-deep .button--approve .p-button-label,
::ng-deep .button--block .p-button-label,
::ng-deep .button--approve-actions .p-button-label {
  color: var(--p-yellow-700);
}

:host-context(.darkmode) ::ng-deep .button--approve .p-button-label,
:host-context(.darkmode) ::ng-deep .button--block .p-button-label,
:host-context(.darkmode) ::ng-deep .button--approve-actions .p-button-label {
  color: var(--p-yellow-500);
}

::ng-deep .p-toggleswitch-slider {
  scale: 0.7;
}

.approve-actions__container {
  border: 1px solid var(--p-yellow-500);
  border-radius: 6px;
}

:host-context(.darkmode) .approve-actions__container {
  border-color: var(--p-yellow-500);
}

.intention-chip {
  display: inline-block;
  padding: .2rem .5rem;
  border-radius: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.75rem;

  &--question {
    background-color: var(--p-intention-question);
  }

  &--discussion {
    background-color: var(--p-intention-discussion);
  }

  &--information {
    background-color: var(--p-intention-information);
  }
}
