.intention-question {
  --p-button-primary-background: var(--p-intention-question);
  --p-button-primary-border-color: var(--p-intention-question);
}

.intention-advice {
  --p-button-primary-background: var(--p-intention-advice);
  --p-button-primary-border-color: var(--p-intention-advice);
}

.intention-discussion {
  --p-button-primary-background: var(--p-intention-discussion);
  --p-button-primary-border-color: var(--p-intention-discussion);
}

.intention-information {
  --p-button-primary-background: var(--p-intention-information);
  --p-button-primary-border-color: var(--p-intention-information);
}
