<h3 class="font-weight-300 text-xl mb-5">Create Question in "{{ circle?.name }}"</h3>
<form [formGroup]="questionForm" (submit)="submitQuestion()">
  <div class="my-3">
    <input
      class="w-full"
      type="text"
      pInputText
      formControlName="titleInput"
      placeholder="Describe your question in a few words..."
      [pAutoFocus]="true"
    />
  </div>
  <div class="w-full my-3">
    @if (isBrowserOnly) {
      <p-editor
        formControlName="bodyEditor"
        [style]="{ height: '12rem' }"
        placeholder="Your question goes here..."
      >
        <ng-template pTemplate="header">
          <span class="ql-formats">
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button
              type="button"
              class="ql-underline"
              aria-label="Underline"
            ></button>
            <button
              type="button"
              class="ql-strike"
              aria-label="Strike-through"
            ></button>
            <button
              type="button"
              class="ql-code"
              aria-label="Inline code"
            ></button>
            <button
              type="button"
              class="ql-list"
              value="bullet"
              aria-label="List"
            ></button>
            <button type="button" class="ql-link" aria-label="Link"></button>
          </span>
        </ng-template>
      </p-editor>
    }
  </div>
  <div>
    <p-button type="submit" [loading]="loading">Submit</p-button>
  </div>
</form>
