<h1 class="text-lg mt-4 mb-6">Platform settings</h1>
  @if (ses.intentions()) {
    <div
      class="flex w-full justify-around p-3"
    >
      <h2 class="text-md">{{ ses.intentions()?.key | displayName }}</h2>
        <div class="flex flex-col self-start">
          @for (opt of ses.intentions()?.value;track opt.id) {
            <div class="flex items-center">
              <p-checkbox
                  inputId="{{opt.id}}"
                  name="{{opt.id}}"
                  value="{{opt.id}}"
                  [(ngModel)]="opt.active"
                  (onChange)="handleMultioptssettingChange(opt, ses.intentions()?._id)"
                  [binary]="true"
              />
              <label for="{{opt.id}}" class="ml-2"> {{ opt.label }} </label>
            </div>
          }
        </div>
    </div>
  }
  <div
    class="flex w-full justify-around p-3 items-center"
  >
    <h2 class="text-md">{{ ses.maintenance()?.key | displayName }}</h2>
    <p-togglebutton
      [ngModel]="ses.isMaintenance()"
      [inputId]="ses.maintenance()?.key"
      onLabel="in maintenance"
      offLabel="is live"
      class="w-40"
      size="small"
      (onChange)="handleBinarySettingChange({
        event: $event,
        settingId: ses.maintenance()?._id
      })"
    />
  </div>
