<p-toast></p-toast>
<div class="mb-3 fixed w-full z-5">
  <ama-topbar></ama-topbar>
</div>
<div class="flex flex-row w-full pt-30">
  <div class="w-2/8">
    <div class="p-3">
      @if (isInModerationView) {
        <ama-circle-box-moderation></ama-circle-box-moderation>
      }
      @if (isInCircleView && !isInModerationView) {
        <ama-circle-box></ama-circle-box>
      }
    </div>
  </div>
  <div class="w-4/8">
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="w-2/8">
    @if (isLoggedIn) {
      <div class="p-3">
        <ama-sidebox [items]="menuItems"></ama-sidebox>
      </div>
    }
  </div>
</div>
