@if (appIsAvailable) {
  <p-toast></p-toast>
  <div class="mb-3 fixed w-full z-5">
    <ama-topbar></ama-topbar>
  </div>
  @if (isMaintenance) {
    <div class="px-20 pb-2 position-relative pt-30">
      <p-message severity="info">The platform is currently in maintenance mode. This app is currently not running in Production environment.</p-message>
    </div>
  }
  <div
    class="flex flex-row w-full"
    [ngClass]="{
      'pt-30': !isMaintenance,
    }"
  >
    <div class="w-2/8">
      <div class="p-3">
        @if (isInModerationView) {
          <ama-circle-box-moderation></ama-circle-box-moderation>
        }
        @if (isInCircleView && !isInModerationView) {
          <ama-circle-box></ama-circle-box>
        }
      </div>
    </div>
    <div class="w-4/8">
      <div class="p-3">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="w-2/8">
      @if (isLoggedIn) {
        <div class="p-3">
        <ama-sidebox [items]="menuItems()"></ama-sidebox>
        </div>
      }
    </div>
  </div>
} @else {
  <ama-soon-available></ama-soon-available>
}
