@if (ses.appIsAvailable()) {
  @if (isFullScreenRoute()) {
    <router-outlet></router-outlet>
    <ama-footer></ama-footer>
    <ama-cookie-banner></ama-cookie-banner>
  } @else {
    <p-toast></p-toast>
    <div class="mb-3 fixed w-full z-5">
      <ama-topbar></ama-topbar>
    </div>

    <!-- Mobile Drawer -->
    <p-drawer
      [(visible)]="uiState.mobileDrawerOpen"
      [modal]="true"
      position="left"
      styleClass="w-72"
    >
      <ng-template pTemplate="header">
        <div class="flex items-center gap-2">
          <img class="h-6" src="../assets/helpaws_logo_petrol.png" />
          <span class="font-semibold">helpa.ws</span>
          <span
            class="text-xs font-bold bg-surface-200 dark:bg-surface-700 text-surface-600 dark:text-surface-300 px-1.5 py-0.5 rounded-full"
          >
            BETA
          </span>
        </div>
      </ng-template>
      <div class="p-3">
        <ama-circle-box></ama-circle-box>
      </div>
    </p-drawer>
    @if (ses.isMaintenance()) {
      <div class="px-20 pb-2 position-relative pt-30">
        <p-message severity="info">The platform is currently in maintenance mode. This app is currently not running in Production environment.</p-message>
      </div>
    }
    <div
      class="flex flex-row w-full"
      [ngClass]="{
        'pt-30': !ses.isMaintenance(),
      }"
    >
      <div class="max-w-2/8 lg:block hidden">
        <div class="p-3">
          <ama-circle-box></ama-circle-box>
        </div>
      </div>
      <div class="lg:w-6/8 w-full">
        <div class="p-3 w-full flex justify-center">
          <div class="max-w-[60rem] w-full pb-14">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <ama-footer></ama-footer>
    <ama-cookie-banner></ama-cookie-banner>
  }
} @else {
  <ama-soon-available></ama-soon-available>
}
