button.btn__link {
  text-decoration: underline;
  cursor: pointer;
}

.intention-chip {
  display: inline-block;
  padding: .2rem .5rem;
  border-radius: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.75rem;

  &--question {
    background-color: var(--p-intention-question);
  }

  &--advice {
    background-color: var(--p-intention-advice);
  }

  &--discussion {
    background-color: var(--p-intention-discussion);
  }

  &--information {
    background-color: var(--p-intention-information);
  }
}
