<ng-container *ngIf="question">
  <p-panel>
    <ng-template pTemplate="header">
      <span class="text-xs text-bluegray-300">
        Posted by {{ question.ownerName }}
      </span>
      <span class="text-xs text-bluegray-500 mx-1 font-semibold">
        {{ question.created_at | dateAgo }}
      </span>
      <ng-container *ngIf="isOwner">
        <span class="text-xs">
          <button
            type="button"
            class="btn__link mx-1 btn--reset"
            (click)="handleEdit($event)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn__link mx-1 btn--reset"
            (click)="handleDelete($event)"
          >
            Delete
          </button>
        </span>
      </ng-container>
    </ng-template>
    <div class="flex jufstify-content-start">
      <div class="text-sm mr-1">
        {{ (question?.upvotes || 0) - (question?.downvotes || 0) }}
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="w-full">
        <div class="ml-1">
          <h4 class="m-0">{{ question.title }}</h4>
          <p [innerHtml]="question.body" class="text-left text-sm"></p>
        </div>
        <div class="text-sm my-5">
          <i class="pi pi-comments"></i>
          <span class="mx-2">{{ answers.length }} answers</span>
        </div>
        <ng-container *ngIf="isLoggedIn">
          <div class="w-full mt-5 mb-3">
            <ama-texteditor
              (submit)="submitAnswer($event)"
              [loading]="loading"
            ></ama-texteditor>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="my-5">
      <ama-answers
        [questionId]="question._id || ''"
        [answers]="answers"
      ></ama-answers>
    </div>
  </p-panel>
</ng-container>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
