<p-toolbar>
  <div class="p-toolbar-group-start">
    <img class="image" src="../../../assets/image.png" />
    <span>amapet.org</span>
  </div>
  <div class="p-toolbar-group-end">
    <ng-container *ngIf="isLoggedIn; else loginButton">
      <p-button
        styleClass="mx-3 p-3"
        [rounded]="true"
        [text]="true"
        [raised]="true"
      >
        <i class="pi pi-bell" pBadge value="2" severity="danger"></i>
      </p-button>
    </ng-container>
    <ng-template #loginButton>
      <p-button
        label="Login"
        icon="pi pi-sign-in"
        class="mr-2"
        styleClass="p-button-warning"
        (onClick)="router.navigate(['signin'])"
      ></p-button>
    </ng-template>
  </div>
</p-toolbar>
