<p-toolbar>
  <div class="p-toolbar-group-start">
    <img class="image" src="../../../assets/image.png" />
    <span>amapet.org</span>
  </div>
  <div class="p-toolbar-group-end">
    <ng-container *ngIf="isLoggedIn; else loginButton">
      <p-button
        icon="pi pi-bell"
        class="mr-2"
        styleClass="p-button-info"
      ></p-button>
    </ng-container>
    <ng-template #loginButton>
      <p-button
        label="Login"
        icon="pi pi-sign-in"
        class="mr-2"
        styleClass="p-button-warning"
        (onClick)="router.navigate(['signin'])"
      ></p-button>
    </ng-template>
    <p-button icon="pi pi-search"></p-button>
  </div>
</p-toolbar>
