<p-toolbar>
  <button (click)="handleNavigateHome()" class="p-toolbar-group-start cursor-pointer lg:block hidden">
    <img class="image" src="../../../assets/image.png" />
    <span>helpa.ws</span>
  </button>
  <div class="block lg:hidden">
    <p-button
      #burgerMenu
      styleClass="p-3"
      [text]="true"
      [raised]="true"
    >
      <i class="pi pi-list"></i>
    </p-button>
  </div>
  <div class="p-toolbar-group-end gap-2">
    @if (isLoggedIn() && hasPermLevel()) {
      <p-button
        #globalSettingsButton
        styleClass="p-3"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        (click)="router.navigate(['global-settings'])"
      >
        <i class="pi pi-cog"></i>
      </p-button>
    }
    @if (isLoggedIn()) {
      <ama-notifications></ama-notifications>
      <p-menu #menu [model]="userMenuItems()" [popup]="true"></p-menu>
      <p-button
        styleClass="mr-2 p-3"
        [rounded]="true"
        [text]="true"
        [raised]="true"
        (click)="menu.toggle($event)"
      >
        <i class="pi pi-user"></i>
      </p-button>
      <p-button
        label="Logout"
        icon="pi pi-sign-out"
        class="mr-2 danger-50"
        styleClass="p-button-danger"
        size="small"
        (onClick)="handleLogout()"
      ></p-button>
    } @else {
      <p-button
        label="Login"
        icon="pi pi-sign-in"
        class="mr-2 primary-50"
        styleClass="p-button-warning"
        size="small"
        (onClick)="handleOpenLoginDialog()"
      ></p-button>
    }
  </div>
</p-toolbar>

<ama-social-login-dialog [(visible)]="showLoginDialog"></ama-social-login-dialog>
