<div>
  @if (ownedCircleMenuItems().length > 0) {
    <div class="mb-4">
      <ama-sidebox
        [items]="ownedCircleMenuItems()"
        context="owned-circles"
        heading="My Circles"
      />
    </div>
  }
  @if (unownedCircleMenuItems().length > 0) {
    <div class="mb-4">
      <div class="max-h-[calc(100vh-16rem)] overflow-y-auto">
        <ama-sidebox
          [items]="unownedCircleMenuItems()"
          context="circles"
          heading="Explore Circles"
        ></ama-sidebox>
      </div>
    </div>
  }
  @if (isLoggedIn()) {
    <p-button
      label="Create Circle"
      icon="pi pi-plus"
      class="mr-2"
      severity="secondary"
      [text]="true"
      [raised]="true"
      (onClick)="createPopup.toggle($event)"
    ></p-button>
    <p-popover #createPopup>
      <ng-template pTemplate="content">
        <div class="p-inputgroup flex items-center gap-2">
          <span class="p-inputgroup-addon"> c/ </span>
          <input
            #nameInput
            (keyup)="checkUserInput(nameInput.value)"
            type="text"
            pInputText
            placeholder="circle name..."
          />
          <button
            type="button"
            pButton
            icon="pi pi-check"
            (click)="cs.createCircle(nameInput.value)"
            [disabled]="nameInput.value === '' || circleExists"
          >
            Create
          </button>
        </div>
        @if (circleExists) {
          <div class="mt-2 text-red-600">Circle already exists.</div>
        }
      </ng-template>
    </p-popover>
  }
  <!--
  <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button>
  -->
</div>
