<div>
  @if (circleMenuItems.length > 0) {
    <div class="max-h-[calc(100vh-16rem)] overflow-y-auto mb-3">
      <ama-sidebox [items]="circleMenuItems"></ama-sidebox>
    </div>
  }
  @if (isLoggedIn) {
    <p-button
      label="Create Circle"
      icon="pi pi-plus"
      class="mr-2"
      severity="secondary"
      [text]="true"
      [raised]="true"
      (onClick)="createPopup.toggle($event)"
    ></p-button>
    <p-popover #createPopup>
      <ng-template pTemplate="content">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"> c/ </span>
          <input
            #nameInput
            (keyup)="checkUserInput(nameInput.value)"
            type="text"
            pInputText
            placeholder="circle name..."
          />
          <button
            type="button"
            pButton
            icon="pi pi-check"
            (click)="cs.createCircle(nameInput.value)"
            [disabled]="nameInput.value === '' || circleExists"
          >
            Create
          </button>
        </div>
        @if (circleExists) {
          <div class="mt-2 text-red-600">Circle already exists.</div>
        }
      </ng-template>
    </p-popover>
  }
  <!--
  <p-button (click)="op.toggle($event)" icon="pi pi-image" label="Show"></p-button>
  -->
</div>
