@for (answer of answers; track answer._id) {
  <div class="mb-2 mt-4">
    <span class="text-xs text-500 hover:text-700">{{ answer.ownerName }}</span
    ><span class="mx-2 text-xs text-500 hover:text-700">{{
      answer.created_at | dateAgo
    }}</span>
    @if (answer.modded_at && !answer.deleted) {
      <span class="mr-3 text-xs font-italic">(edited)</span>
    } @else if (answer.deleted) {
      <span class="mr-3 text-xs font-italic">(deleted)</span>
    }
    @if (currentUserId === answer.ownerId && !answer.deleted) {
      <span class="text-xs">
        <button
          type="button"
          class="btn__link mx-1 btn--reset"
          (click)="toggleEditForm(answer)"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn__link mx-1 btn--reset"
          (click)="handleDelete(answer)"
        >
          Delete
        </button>
      </span>
    }
  </div>
  @if (!answer.deleted) {
    <div class="flex mb-2">
      <div class="text-sm">
        <ama-vote
          [upvotes]="answer?.upvotes || []"
          [downvotes]="answer?.downvotes || []"
          (upvoteSubmit)="handleUpvoteAnswer(answer)"
          (downvoteSubmit)="handleDownvoteAnswer(answer)"
        ></ama-vote>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="flex flex-column justify-content-between w-full">
        @if (answerInEditing?._id === answer?._id && !answer.deleted) {
          <div class="my-3">
            <ama-texteditor
              submitButtonText="Save"
              cancelButtonText="Cancel"
              [data]="answer"
              [initialValue]="answer.answerText"
              [editorHeightCss]="{ height: '4rem' }"
              (submit)="submitAnswerUpdate($event)"
              (cancel)="closeAnswerForm()"
            ></ama-texteditor>
          </div>
        } @else {
          @if (!answer.deleted) {
            <div
              class="text-sm font-bold"
              [innerHtml]="answer.answerText"
            ></div>
          }
        }
        <div class="mt-3">
          <p-toggleButton
            #subAnswerEditor
            [styleClass]="
              'mx-1 text-xs px-2 py-1' +
              (isLoggedIn && !answer.deleted ? '' : ' hidden')
            "
            onIcon="pi pi-angle-down"
            onIcon="pi pi-comment"
            offIcon="pi pi-comment"
          ></p-toggleButton>
        </div>
        @if (isLoggedIn && subAnswerEditor.checked) {
          <div class="my-3">
            <ama-texteditor
              [data]="answer"
              [editorButtonElement]="subAnswerEditor"
              (submit)="submitAnswer($event)"
            ></ama-texteditor>
          </div>
        }
        @if (answer?.children?.length || 0 > 0) {
          <ama-answers
            [questionId]="questionId"
            [answers]="answer.children"
          ></ama-answers>
        }
      </div>
    </div>
  }
}
