<div class="flex justify-center h-screen my-[3rem] md:my-[5rem] lg:my-[10rem]">
  <div class="max-w-[50rem] flex flex-col items-center">
    <img class="image mb-[3rem]" src="../../../assets/helpaws_logo_petrol.png" />
    <div class="mx-4 sm:mx-[2rem] md:mx-[3rem] lg:mx-[5rem]">
      <h1 class="text-3xl text-color-primary">
        Welcome to Helpaws — soon to be your favorite place for all things pets!
      </h1>
      <p class="text-lg text-color-gray-800 my-4">
        Helpaws is a friendly Q&A community where pet owners can ask questions,
        share experiences, and help each other give their animals the best possible care.
        Your participation matters because every question you ask and every answer you give
        helps build a supportive knowledge hub for fellow pet lovers.
      </p>
      <p class="text-lg text-color-gray-800 my-4">
        Why the name Helpaws? Because at its heart, this platform is about lending a helping
        hand — or paw — to pets and their humans alike.
      </p>
      <p class="text-lg text-color-gray-800 my-4">
        Thanks for being part of the beginning. We’re building something special, and we’re
        glad you’re   here!
      </p>
      <p class="text-lg text-color-gray-800 my-4">
        <time datetime="2025-11-26">November 2025</time>,<br />
        The Helpaws Team
      </p>
    </div>
  </div>
</div>
