<footer
  class="fixed bottom-0 left-0 right-0 z-40 flex items-center justify-center gap-4 bg-white dark:bg-surface-800 border-t border-gray-400 dark:border-surface-700 py-2 text-sm text-gray-700 dark:text-surface-400"
>
  <a routerLink="/imprint" class="hover:text-primary hover:underline dark:text-surface-300"
    >Imprint</a
  >
  <span class="text-surface-200 dark:text-surface-500">|</span>
  <a routerLink="/privacy" class="hover:text-primary hover:underline dark:text-surface-300"
    >Privacy</a
  >
  <span class="text-surface-200 dark:text-surface-500">|</span>
  <a routerLink="/disclaimer" class="hover:text-primary hover:underline dark:text-surface-300"
    >Disclaimer</a
  >
</footer>
