<div class="cursor-pointer hover:shadow-1" (click)="handleQuestionClicked($event)">
  <p-panel>
    <ng-template pTemplate="header">
      <div class="w-full">
        <span class="text-xs text-bluegray-300">
          Posted by {{ question.ownerName }}
        </span>
        <span class="text-xs text-bluegray-500 mx-1 font-semibold">
          {{ question.created_at | dateAgo }}
        </span>
        <ng-container *ngIf="isOwner">
          <span class="text-xs">
            <button
              type="button"
              class="btn__link me-1"
              (click)="handleEdit($event)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn__link"
              (click)="handleDelete($event)"
            >
              Delete
            </button>
          </span>
        </ng-container>
      </div>
    </ng-template>
    <div class="flex jufstify-content-start">
      <div class="text-sm mr-1">
        <ama-vote
          [upvotes]="question?.upvotes || []"
          [downvotes]="question?.downvotes || []"
          (upvoteSubmit)="handleUpvoteQuestion($event)"
          (downvoteSubmit)="handleDownvoteQuestion($event)"
        ></ama-vote>
      </div>
      <p-divider layout="vertical"></p-divider>
      <div class="w-full">
        <div class="ml-1">
          <h4 class="m-0">{{ question.title }}</h4>
          <p [innerHtml]="question.body" class="text-left text-sm my-4"></p>
        </div>
        <p-divider layout="horizontal"></p-divider>
        <div class="text-sm">
          <i class="pi pi-comments"></i>
          <span> tbd num of answers </span>
        </div>
      </div>
    </div>
  </p-panel>
</div>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
