<div class="flex flex-col items-center">
  <p-button
    styleClass="my-1 vote__button"
    icon="pi pi-chevron-up"
    [severity]="isUpvoted() ? 'success' : 'secondary'"
    [text]="true"
    [disabled]="isUpvoted()"
    [class.opacity-50]="!isLoggedIn()"
    (onClick)="handleUpvote($event)"
  ></p-button>
  <div
    class="font-bold"
    [ngClass]="{ 'text-success': isUpvoted(), 'text-danger': isDownvoted() }"
  >
    {{ upvotes().length - downvotes().length }}
  </div>
  <p-button
    styleClass="my-1 vote__button"
    icon="pi pi-chevron-down"
    [severity]="isDownvoted() ? 'danger' : 'secondary'"
    [text]="true"
    [disabled]="isDownvoted()"
    [class.opacity-50]="!isLoggedIn()"
    (onClick)="handleDownvote($event)"
  ></p-button>
</div>

<ama-social-login-dialog [(visible)]="showLoginDialog" />
