name: Manual Deploy

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout repo
      - uses: actions/checkout@v3

      # Setup SSH
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.VPS_DEPLOY_KEY }}

      # Create .env inside deployment/
      - name: Create .env
        run: |
          mkdir -p deployment
          cat > deployment/.env <<EOF
          MONGO_USER="${{ secrets.MONGO_USER }}"
          MONGO_PASSWORD="${{ secrets.MONGO_PASSWORD }}"
          MONGO_DB="${{ secrets.MONGO_DB }}"
          BACKEND_PORT="${{ secrets.BACKEND_PORT }}"
          FRONTEND_PORT="${{ secrets.FRONTEND_PORT }}"
          EOF

      # Upload files to VPS
      - name: Upload files to VPS
        run: |
          ssh -o StrictHostKeyChecking=no -p 2233 \
            ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} \
            "rm -rf /home/${{ secrets.VPS_USER }}/containers/amapet-temp && mkdir -p /home/${{ secrets.VPS_USER }}/containers/amapet-temp"

          scp -o StrictHostKeyChecking=no -P 2233 -r \
            deployment frontend backend \
            ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }}:/home/${{ secrets.VPS_USER }}/containers/amapet-temp

      # Deploy
      - name: Deploy on VPS
        run: |
          ssh -o StrictHostKeyChecking=no -p 2233 \
            ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << EOF

          set -e

          cd /home/${{ secrets.VPS_USER }}/containers

          rm -rf amapet
          mv amapet-temp amapet
          cd amapet/deployment

          chmod 600 .env

          echo "Building images..."
          docker compose build frontend
          docker compose build backend

          echo "Starting containers..."
          docker compose up -d

          echo "Deployment complete."
          EOF
