on:
  workflow_dispatch:   # Allows manual run
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.VPS_DEPLOY_KEY }}

      - name: Deploy all services
        run: |
          ssh -o StrictHostKeyChecking=no -p 2233 ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} bash << 'EOF'
            cd /home/${{ secrets.VPS_USER }}/containers/helpaws

            # Create .env
            cat <<EOF > .env
            MONGO_USER=${{ secrets.MONGO_USER }}
            MONGO_PASSWORD=${{ secrets.MONGO_PASSWORD }}
            MONGO_DB=${{ secrets.MONGO_DB }}
            BACKEND_PORT=${{ secrets.BACKEND_PORT }}
            FRONTEND_PORT=${{ secrets.FRONTEND_PORT }}
            EOF

            # Build and deploy all services
            docker-compose build frontend backend mongo
            docker-compose up -d frontend backend mongo
          EOF

